.details-section {
    height: 100%;
    padding-top: 20px;

    .card {
        margin-bottom: 20px;
        border: none;
        border-radius: 4px;
        color: $container;

        .card-header {
            background-color: $primary;
            height: 60px;
            display: flex;
        }

        .card-main {
            .card-row {
                background: $container;
                height: 50px;
                border-bottom: 2px solid $bg;
                display: flex;
                padding-left: 10px;
                line-height: 50px;

                img {
                    width: 20px;
                }

                div {
                    color: $secondary-text;
                    padding-left: 15px;
                    flex: 1;
                }

                span {
                    color: $primary;
                    padding-right: 5px;
                    width: 100px;
                    text-align: right;
                }
            }
        }
    }
}